<!-- directives are instruction you place on HTML elements -->
<!-- property binding -->

<!-- template -->
<!-- 2 way bindind -->
<!-- event binding, adding in a template as an argument -->
<!-- interpolation -->

<!-- template driven form -->
<!--ngForm gives access to form object -->
<form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-card>
            <!-- input field for post's title -->  
            <mat-form-field>
                <!-- ngModel gives access to form field -->
                <input 
                matInput 
                [ngModel]="post?.title"
                type="text" 
                name="title" 
                #title="ngModel" 
                placeholder="Post Title"
                required>
                <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
            </mat-form-field>
        
            <!-- input field for post's content -->        
            <mat-form-field>
                <textarea 
                matInput 
                rows="4" 
                [ngModel]="post?.content"
                name="content" 
                #content="ngModel" 
                placeholder="Post Content"
                required></textarea>
                <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
            </mat-form-field>   
        
            <button mat-raised-button color="accent" type="submit">Save Post</button>
        
        </mat-card> 
</form>